/* General styles for all components */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #007bff; /* Border color */
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: rgb(173, 188, 120); /* Optional background color */
  box-shadow: 0 2px 5px rgba(150, 173, 98, 0.1); /* Optional shadow */
}

/* Common styles for headings */
h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Button styles */
.button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  color: white;
}
